AC-MAP-引导用地图/\!大地图-背景.png
AC-MAP-引导用地图/\!大地图-背景.sai2
AC-MAP-引导用地图/噩梦摇篮地图引导-2025.2.22-1.png
AC-MAP-引导用地图/噩梦摇篮地图引导-2025.2.22-1.sai2
Audio/
Font/
Fonts/
Game.exe
Game.ico
Game.ini
Game.rvproj2
gamepad.json
Graphics/Animations/
Graphics/Battlebacks1/
Graphics/Battlebacks2/
Graphics/Battlers/
Graphics/Characters/
Graphics/Faces/
Graphics/Lights/
Graphics/Parallaxes/
Graphics/Pictures/*
Graphics/Tilesets/
Graphics/Titles1/
Graphics/Titles2/
!Graphics/Pictures/BOSS.png
!Graphics/Pictures/B恶意逼近.png
!Graphics/Pictures/END 繁花盛开.png
!Graphics/Pictures/END-横条1.png
!Graphics/Pictures/END-横条2.png
!Graphics/Pictures/END1-后日-抱着德德4.png
!Graphics/Pictures/END1-字-极乐园.png
!Graphics/Pictures/END1-字-黄昏王.png
!Graphics/Pictures/END1-字-黑夜.png
!Graphics/Pictures/END2-黄昏王诗文.png
!Graphics/Pictures/Half_1.png
!Graphics/Pictures/RE-演示-技能.png
!Graphics/Pictures/RE-演示-敌人文本.png
!Graphics/Pictures/RE-演示-敌人文本2.png
!Graphics/Pictures/RE-演示-物品.png
!Graphics/Pictures/后幕-列方之会首席.png
!Graphics/Pictures/后幕-大爆发8.png
!Graphics/Pictures/后幕-大爆发全程演出.png
!Graphics/Pictures/后幕-录入.png
!Graphics/Pictures/后幕1.png
!Graphics/Pictures/后幕2.png
!Graphics/Pictures/后幕3.png
!Graphics/Pictures/大地图*
Graphics/Pictures/大地图文本-介绍2.png
!Graphics/Pictures/开幕4.png
!Graphics/Pictures/开幕7.png
!Graphics/Pictures/开幕时间.png
!Graphics/Pictures/开幕时间2大撕裂.png
!Graphics/Pictures/操作指南.png
!Graphics/Pictures/死亡.png
!Graphics/Pictures/特典用图片/4000份.png
!Graphics/Pictures/特典用图片/乐晴-高清.png
!Graphics/Pictures/特典用图片/偶像服乐晴3.png
!Graphics/Pictures/特典用图片/新年贺图.png
!Graphics/Pictures/特典用图片/新年贺图5.png
!Graphics/Pictures/特典用图片/魔法少女.png
!Graphics/Pictures/电影式结尾2.png
!Graphics/Pictures/电影式结尾3.png
!Graphics/Pictures/电影式结尾4.png
!Graphics/Pictures/识别失败.png
!Graphics/Pictures/闪退提示.png
!Graphics/Pictures/难度 变化.png
!Graphics/Pictures/难度 噩梦.png
!Graphics/Pictures/难度 困难.png
!Graphics/Pictures/难度 普通.png
!Graphics/Pictures/难度 简单.png
!Graphics/Pictures/鲜花盛开.png
!Graphics/System/GameOver.png
!Graphics/System/logo.png
!Graphics/System/logo2.png
!Graphics/System/标题横条.png
steam/
errors.txt
Roboto-Regular.ttf
Save/
steam_api.dll
System/
unins000.dat
unins000.exe
丢失素材.txt
